flask==2.3.3
flask-cors==4.0.0
openai==0.27.8
python-docx==1.0.1
pandas==2.1.0
langchain-community==0.3.23
langchain-core==0.3.59
langchain-text-splitters==0.3.8
langchain==0.3.25
langchain-nvidia-ai-endpoints==0.3.10
numpy==1.26.4
python-dotenv==1.0.0
faiss-cpu==1.7.4
httpx==0.28.1
docx2txt==0.9
pypdf==5.4.0
markdown2==2.4.10
bleach==6.1.0



